.a{
  /* 친구들과 대화를 통해 필요한 정보를 찾아보세요. */
  white-space: nowrap;
  /*줄바꿈없이 출력되게 하는법*/
  position: static;
  width: 301px;
  height: 5px;
  left: calc(50% - 301px/2 + 0.5px);
  top: 50px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;

  color: #8c7c7c;


}

move{

}
button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

signup{
  /* 회원가입 완료 */

  position:static ;
  width: 109px;
  height: 5px;
  left: calc(50% - 109px/2 + 0.5px);
  top: calc(50% - 24px/2 - 15px);

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;

  color: #e8dede;


}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
img
{
 max-height: 150%;
}
.App-header {

  background-color: #f7f8fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #151313;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
